html, body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  /*background: linear-gradient(#fff, #fff, rgba(141,211,218, .5));*/
}

h1{
    text-align:center;
    color: #1A17C0;
}

h3{
    color: #BBD37D;
}

button{
    padding:14px;
    font-size: 18px;
    background-color: #F4D270;
    color:white;
}

button:hover{
    background-color: #f2dc9d;
}



.divider{
    height:10px;
    width:100%;
    background-color: #BBD37D;
    float:right;
}


.letterColumn{
    width:34vw;
    float:left;
    padding-left:2vw;
    padding-right:2vw;
}

.content{
    width:100vw;
    float:left;
}

iframe{
    height:70vh;
}

#disclaimer{
    font-size:10px; 
    color:black;
}

#middleSection{
    margin-left:12vw;
    margin-right: 12vw;
    width:76vw;
    float:left;
}


#navbar {
  overflow: hidden;
  background-color: #BBD37D;
  position: fixed; 
  top: 0; 
  width: 100%; 
}



#navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  font-size: 17px;
  text-decoration: none;
}

#navbar a:hover {
  background-color: #AAC26C;
}


a{
    color:#F4D270;
    text-decoration: none;
}

a:hover{
    color:#f2dc9d;
}


/*different code for when the screen is narrow enough that the menu takes up 2 lines*/
@media screen and (max-width: 721px) {
    
    /*move headers down a teensy bit so menu doesn't cover them*/
    .mobileResponsive{
        margin-top:50px;
    }
}

/*different code for when the screen is narrow enough that the menu takes up 3+ lines*/
@media screen and (max-width: 355px) {
    
    .mobileResponsive{
        margin-top:100px;
    }
}


/*people who are actually on mobile, change FAQ's to be one column instead of 2*/
@media screen and (max-width: 500px) {
    
    .letterColumn{
        width:72vw;
    }
}

