html, body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  /*background: linear-gradient(#fff, #fff, rgba(141,211,218, .5));*/
}

h1{
    text-align:center;
    color: #1A17C0;
}

h3{
    color: #BBD37D;
}

button{
    padding:14px;
    font-size: 18px;
    background-color: #F4D270;
    color:white;
}

button:hover{
    background-color: #f2dc9d;
}


.sidebar{
    width:10vw;
    float:left;
    padding-left:2vw;
    padding-right:2vw;
}

.divider{
    height:10px;
    width:100%;
    background-color: #BBD37D;
    float:right;
}

.letter{
    /*only relevant on guide and about pages*/
    padding-left:12vw;
    padding-right:12vw;
}

.letterColumn{
    width:34vw;
    float:left;
    padding-left:2vw;
    padding-right:2vw;
}

.content{
    width:100vw;
    float:left;
}

iframe{
    height:70vh;
}

#disclaimer{
    font-size:10px; 
    color:white;
}

#middleSection{
    margin-left:12vw;
    margin-right: 12vw;
    width:76vw;
    float:left;
}


#navbar {
  overflow: hidden;
  background-color: #BBD37D;
  position: fixed; 
  top: 0; 
  width: 100%; 
}



#navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  font-size: 17px;
  text-decoration: none;
}

#navbar a:hover {
  background-color: #E0F8A2;
}


/*currently this never happens, because we aren't adding the active class to links in the navbar.  could do this but might be hard since it's a one page thing so it's hard to figure out which link is active*/

/*
#navbar a.active {
  color: white;
}
*/

a{
    color:#F4D270;
    text-decoration: none;
}

a:hover{
    color:#f2dc9d;
}
